/*
  gohugo-amp-starter
  ----
  this is just a minimal styling entry point for your custom stylesheet
  you can replace the following styles with your own stylesheet
  or import them writing:
   @import 'path/to/your/stylesheet.scss'
*/

@import "minimal/github-documentation";
@import "minimal/html5reset";
@import "minimal/styles";