{{ partial "structure/head" . }}
{{ partial "header" . }}

<main>
    {{ partial "navigation/breadcrumbs" . }}

    <h1>Shortcodes &amp; Partials</h1>

    <ul>
    {{ range .Data.Pages.ByTitle }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>

    <blockquote>There is still a lot of work in progress here. Have a look at the <a href="/kitchen-sink">kitchen sink listing all elements</a></blockquote>

</main>

{{ partial "custom/footer" . }}
{{ partial "structure/foot" . }}